# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
docs/__404error.html
docs/categories.json
docs/index.html
docs/index.json
docs/search.html
docs/provider_common/apiKeys.html
docs/provider_common/Part-enum-sidebar.html
docs/provider_common/Part.html
docs/provider_common/provider_common-library-sidebar.html
docs/provider_common/provider_common-library.html
docs/provider_common/Result-class-sidebar.html
docs/provider_common/Result-class.html
docs/provider_common/Src-enum-sidebar.html
docs/provider_common/Src.html
docs/provider_common/Part/values-constant.html
docs/provider_common/Result/album.html
docs/provider_common/Result/artists.html
docs/provider_common/Result/Result.html
docs/provider_common/Result/sDuration.html
docs/provider_common/Result/source.html
docs/provider_common/Result/title.html
docs/provider_common/Result/toString.html
docs/provider_common/Result/url.html
docs/provider_common/Src/values-constant.html
docs/provider_spotify/provider_spotify-library-sidebar.html
docs/provider_spotify/provider_spotify-library.html
docs/provider_spotify/SpotifyEngine-class-sidebar.html
docs/provider_spotify/SpotifyEngine-class.html
docs/provider_spotify/SpotifyResult-class-sidebar.html
docs/provider_spotify/SpotifyResult-class.html
docs/provider_spotify/TrackSearch-extension-sidebar.html
docs/provider_spotify/TrackSearch.html
docs/provider_spotify/SpotifyEngine/SpotifyEngine.html
docs/provider_spotify/SpotifyResult/album.html
docs/provider_spotify/SpotifyResult/artists.html
docs/provider_spotify/SpotifyResult/sDuration.html
docs/provider_spotify/SpotifyResult/source.html
docs/provider_spotify/SpotifyResult/SpotifyResult.html
docs/provider_spotify/SpotifyResult/title.html
docs/provider_spotify/SpotifyResult/url.html
docs/provider_spotify/TrackSearch/findTrackFromUrl.html
docs/provider_spotify/TrackSearch/searchForTrack.html
docs/provider_youtube/provider_youtube-library-sidebar.html
docs/provider_youtube/provider_youtube-library.html
docs/provider_youtube/YouTubeResult-class-sidebar.html
docs/provider_youtube/YouTubeResult-class.html
docs/provider_youtube/YouTubeResult/album.html
docs/provider_youtube/YouTubeResult/artists.html
docs/provider_youtube/YouTubeResult/sDuration.html
docs/provider_youtube/YouTubeResult/source.html
docs/provider_youtube/YouTubeResult/title.html
docs/provider_youtube/YouTubeResult/url.html
docs/provider_youtube/YouTubeResult/YouTubeResult.html
docs/static-assets/docs.dart.js
docs/static-assets/docs.dart.js.map
docs/static-assets/favicon.png
docs/static-assets/github.css
docs/static-assets/highlight.pack.js
docs/static-assets/play_button.svg
docs/static-assets/readme.md
docs/static-assets/search.svg
docs/static-assets/styles.css
